.vscode/**
.vscode-test/**
.github/**
AGENTS.md
*.vsix
src/**
out/test/**
media/*.drawio
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
